{% extends 'base.html' %}

{% block title %}
	{{ blog.title }}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='blog/blog.css') }}">
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<img class="img-responsive center-block" src="{{ url_for('static', filename='logo/blog-logo.jpg') }}">
		</div>
		<div class="row">
			<div class="col-sm-offset-2 col-xs-12 col-sm-6 main-content">
				<div>
					<p>{{ blog.title }}</p>
					<p>分类：
						{% if blog.category  %}
							{{ blog.category }}
						{% else %}
							无
						{% endif %}
					</p>
					<p>标签：
						{% if blog.tags  %}
							{% for tag in blog.tags %}
								<span class="glyphicon glyphicon-tags">{{ tag.name }}</span>
							{% endfor %}
						{% else %}
							无
						{% endif %}
					</p>
				<div>
					<hr>
				<div>
					{{ blog.content | safe }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}